// From GDS's alphagov/govuk_frontend_toolkit
@import 'colours';
@import 'font_stack';
@import 'measurements';
@import 'conditionals';
@import 'device-pixels';
@import 'grid_layout';
@import 'typography';
@import 'shims';

@import 'design-patterns/alpha-beta';
@import 'design-patterns/buttons';
@import 'design-patterns/breadcrumbs';

// From GDS's alphagov/govuk_elements;
@import 'govuk-elements';

.panel {
  margin-top: 4rem;
}

.error-summary.success {
  border-color: $green;
}

.error-summary.notice {
  border-color: $govuk-blue;
}

.error-summary.alert {
  border-color: $red;
}

.error-summary.error {
  border-color: $error-colour;
}
